*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
header{
    display: flex;
    align-items:center;
}
h1{
    display: inline;
}
.menu{
    padding: 20px;
    width: 100%;
    display:flex;
}
.elements{
    margin: 10px;
    align-self: center;
    display: inline;
}
.image{
    margin-left: 20px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content .card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


footer{
    height: 40px;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: 900;
    width: 100%;
}