*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height:100%;
}
html body main{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height:100%;
}
main .sidebar{
    align-items: center;
    margin-top: 50px;
    
}
.sidebar .text{
    margin-left: 50px;
    padding: 12px 4px;
    font-weight: bold;

}
.text:hover{
    background-color: cadetblue;
    display: inline-block;
}
.text .tweet{
    display: block;
    color: white;
    width: 100%;
    height: 40px;
    margin-left: -30px;
    background-color:#06bac7;
    border-radius: 20px;
    border-color: aliceblue;
}
.fa{
    padding: 5px;
}
main .content{
    background: aquamarine;
}
main .sidebar2{
    background: violet;
}
